@{
    ViewBag.Title = "Acerca de...";
}
<div class="panel panel-default" style="height: 87vh; background-color: #df2530">
    <div class="panel-heading">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>