@model CampaniasLito.Models.Usuario
@{
    ViewBag.Title = "Campañas KFC";
    Layout = "~/Views/Shared/_Layout_Companias.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<div align="center">
    <img src="~/Content/images/KFC-logo.png" alt="Image" style="width: 400px; max-width: 100%; height: auto; border-radius: 10px" />
</div>