@model CampaniasLito.Models.Usuario
@{
    ViewBag.Title = "Inicio";
}

    <div class="jumbotron bgPortada" align="center" style="height: 83vh">
        @*@if (Model != null && !string.IsNullOrEmpty(Model.Compañia.Logo))
        {
            <h2> @Model.Compañia.Nombre </h2><br />
            <img src="@Url.Content(Model.Compañia.Logo)" alt="Image" style="width: 250px; height: 250px; max-width: 100%; height: auto; border-radius: 10px" />
        }
        else
        {
            <h1 style="text-align:center"><i class="fa fa-barcode"></i> KFC Campañas</h1>
            <img src="~/Content/Logos/KFC-logo.png" alt="Image" style="width: 250px; height: 250px; max-width: 100%; height: auto; border-radius: 10px" />
        }*@
        <h1 style="text-align:center"><i class="fas fa-calendar-alt"></i> KFC Campañas</h1>
        <img src="~/Content/Logos/KFC-logo.png" alt="Image" style="width: 250px; height: 250px; max-width: 100%; height: auto; border-radius: 10px" />
    </div>
