div.dt-buttons {
    top: -4px;
    left: 2%;
    border-radius: 10px;
}

table {
    font-size: 12px !important;
}

th {
    background: #DF2530 !important;
    color: #fff !important;
    font-size: 13px !important;
    border-radius: 10px;
}

.btn-pilares {
    color: #fff;
    /*background: linear-gradient(to bottom right, #3B4757, #606D7E, #7E8E9D, #92A2B1);*/
    background-color: #3B4757;
    border-color: #3B4757;
}

    .btn-pilares:focus,
    .btn-pilares.focus {
        color: #fff;
        background-color: #7E8E9D;
        border-color: #7E8E9D;
    }

    .btn-pilares:hover {
        color: #fff;
        background-color: #7E8E9D;
        border-color: #7E8E9D;
    }

    .btn-pilares:active,
    .btn-pilares.active,
    .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

        .btn-pilares:active:hover,
        .btn-pilares.active:hover,
        .open > .dropdown-toggle.btn-pilares:hover,
        .btn-pilares:active:focus,
        .btn-pilares.active:focus,
        .open > .dropdown-toggle.btn-pilares:focus,
        .btn-pilares:active.focus,
        .btn-pilares.active.focus,
        .open > .dropdown-toggle.btn-pilares.focus {
            color: #fff;
            background-color: #204d74;
            border-color: #122b40;
        }

    .btn-pilares:active,
    .btn-pilares.active,
    .open > .dropdown-toggle.btn-pilares {
        background-image: none;
    }

    .btn-pilares.disabled:hover,
    .btn-pilares[disabled]:hover,
    fieldset[disabled] .btn-pilares:hover,
    .btn-pilares.disabled:focus,
    .btn-pilares[disabled]:focus,
    fieldset[disabled] .btn-pilares:focus,
    .btn-pilares.disabled.focus,
    .btn-pilares[disabled].focus,
    fieldset[disabled] .btn-pilares.focus {
        background-color: #3B4757;
        border-color: #3B4757;
    }

    .btn-pilares .badge {
        color: #3B4757;
        background-color: #fff;
    }

/* Ensure that the demo table scrolls */
#miTabla th, #miTabla td {
    white-space: nowrap;
}

#miTablaMaterial td {
    white-space: nowrap;
}

#miTablaMaterialF td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}

div.dt-button-collection div.dropdown-menu {
    display: block !important;
    z-index: 2002 !important;
    min-width: 100% !important;
    overflow-y: scroll !important;
    max-height: 450px !important;
    border-radius: 10px !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000 !important;
    text-decoration: none;
    background-color: #f5f5f5 !important,;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #f0f0f0;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #DF2530;
    text-align: inherit;
    white-space: nowrap;
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid thin !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.active {
    background-color: white;
    color: #2B3E50;
    text-decoration: none;
}

.custom-select {
    height: calc(2.25rem + 2px) !important;
    border-radius: 10px;
}

select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    width: inherit;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    outline: none;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9 !important;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: inherit;
    border-radius: 10px;
    color: inherit;
}

table.dataTable.display tbody > tr > .selected {
    background-color: #B0BED9 !important;
}

