* {
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
    font-family: 'Hero';
}

@font-face {
    font-family: 'Hero';
    src: url('../../fonts/Hero.otf') format('opentype');
    font-family: 'Hero Light';
    src: url('../../fonts/Hero Light.otf') format('opentype');
}

.nav > li > a, thead, tr, th, tr:hover, .navbar-toggle {
    background-color: #01207B;
    /*color: #fff !important;*/
}

table > tbody > tr > td {
    border-radius: 10px !important
}

table {
    background-color: transparent !important;
}

#unId30 {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 19vh; /*Alto del 100% del Viewport*/
    max-height: 19vh; /*Alto máximo*/
}

#unId32 {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 37vh; /*Alto del 100% del Viewport*/
    max-height: 37vh; /*Alto máximo*/
}

#unId34 {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 27vh; /*Alto del 100% del Viewport*/
    max-height: 27vh; /*Alto máximo*/
}

#unId40 {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 66vh; /*Alto del 100% del Viewport*/
    max-height: 66vh; /*Alto máximo*/
}

#unId35 {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 43vh; /*Alto del 100% del Viewport*/
    max-height: 43vh; /*Alto máximo*/
}

#unId70 {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 58vh; /*Alto del 100% del Viewport*/
    max-height: 58vh; /*Alto máximo*/
}

#unIdCalender {
    overflow-y: auto; /*Ajuste automático, agrega scroll según el tamaño del contenido*/
    height: 87vh; /*Alto del 100% del Viewport*/
    max-height: 87vh; /*Alto máximo*/
}


    #unId30::-webkit-scrollbar,
    #unId32::-webkit-scrollbar,
    #unId34::-webkit-scrollbar,
    #unId40::-webkit-scrollbar,
    #unId35::-webkit-scrollbar,
    #unId70::-webkit-scrollbar,
    #gvMain_Content_Fixed::-webkit-scrollbar,
    #unIdCalender::-webkit-scrollbar {
        width: 12px; /* Tamaño del scroll en vertical */
        /*margin-right: 10px;*/
        /*height: 10px;  /*Tamaño del scroll en horizontal */
        /*display: none; /* Ocultar scroll */
    }

    #unId30::-webkit-scrollbar-thumb,
    #unId32::-webkit-scrollbar-thumb,
    #unId34::-webkit-scrollbar-thumb,
    #unId40::-webkit-scrollbar-thumb,
    #unId35::-webkit-scrollbar-thumb,
    #unId70::-webkit-scrollbar-thumb,
    #gvMain_Content_Fixed::-webkit-scrollbar-thumb,
    #unIdCalender::-webkit-scrollbar-thumb {
        background: #999999;
        border-radius: 10px;
    }

        #unId30::-webkit-scrollbar-thumb:hover,
        #unId32::-webkit-scrollbar-thumb:hover,
        #unId34::-webkit-scrollbar-thumb:hover,
        #unId40::-webkit-scrollbar-thumb:hover,
        #unId35::-webkit-scrollbar-thumb:hover,
        #unId70::-webkit-scrollbar-thumb:hover,
        #gvMain_Content_Fixed::-webkit-scrollbar-thumb:hover,
        #unIdCalender::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        #unId30::-webkit-scrollbar-thumb:active,
        #unId32::-webkit-scrollbar-thumb:active,
        #unId34::-webkit-scrollbar-thumb:active,
        #unId40::-webkit-scrollbar-thumb:active,
        #unId35::-webkit-scrollbar-thumb:active,
        #unId70::-webkit-scrollbar-thumb:active,
        #gvMain_Content_Fixed::-webkit-scrollbar-thumb:active,
        #unIdCalender::-webkit-scrollbar-thumb:active {
            background-color: #ddd;
        }

    #unId30::-webkit-scrollbar-track,
    #unId32::-webkit-scrollbar-track,
    #unId34::-webkit-scrollbar-track,
    #unId40::-webkit-scrollbar-track,
    #unId35::-webkit-scrollbar-track,
    #unId70::-webkit-scrollbar-track,
    #gvMain_Content_Fixed::-webkit-scrollbar-track,
    #unIdCalender::-webkit-scrollbar-track {
        background: #000;
        border-radius: 10px;
    }

        #unId30::-webkit-scrollbar-track:hover,
        #unId30::-webkit-scrollbar-track:active,
        #unId32::-webkit-scrollbar-track:hover,
        #unId32::-webkit-scrollbar-track:active,
        #unId34::-webkit-scrollbar-track:hover,
        #unId34::-webkit-scrollbar-track:active,
        #unId40::-webkit-scrollbar-track:hover,
        #unId40::-webkit-scrollbar-track:active,
        #unId35::-webkit-scrollbar-track:hover,
        #unId35::-webkit-scrollbar-track:active,
        #unId70::-webkit-scrollbar-track:hover,
        #unId70::-webkit-scrollbar-track:active,
        #gvMain_Content_Fixed::-webkit-scrollbar-track:hover,
        #gvMain_Content_Fixed::-webkit-scrollbar-track:active,
        #unIdCalender::-webkit-scrollbar-track:hover,
        #unIdCalender::-webkit-scrollbar-track:active {
            background: #000;
        }


.inputModal {
    background: #f0f0f0;
    color: #000;
    border: .5px solid #fff;
}

main {
    width: 100%;
    display: flex;
    border-radius: 10px;
    /*height:100%;*/
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #01207B;
    z-index: 100000;
}

    header span {
        border-radius: 10px;
        font-size: 40px;
        color: white;
        cursor: pointer;
        position: relative;
        top: 6px;
        left: 10px;
    }

        header span:hover {
            /*background: rgba(255,255,255,0.2);*/
            border-radius: 10px;
            color: #7E8E9D;
            /*font-weight:700;*/
        }

.styledashboard {
    background: #2B3E50;
    border-radius: 10px
}

.spanhtml {
    /*background: rgba(0,0,0,0.4);*/
    border-radius: 10px;
    padding: 15px;
    color: white;
    width: 80%;
    text-align: center;
    cursor: pointer;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

    .spanhtml:hover {
        /*background: rgba(255,255,255,0.2);*/
        border-radius: 10px;
        color: #7E8E9D;
        /*font-family: Arial, Helvetica, sans-serif;*/
        /*font-weight:700;*/
    }

footer {
    color: white;
    text-align: center;
    position: center;
    width: 100%;
    height: 20px;
    background: #2B3E50;
    border-radius: 10px;
}

.page-wrapper {
    width: 100%;
    /*padding: 0 15px;*/
    /*min-height: 568px;*/
    background-color: transparent;
    margin-top: 55px;
    /*margin-left:15px;*/
    /*margin-right:15px;*/
    border-radius: 10px;
    /*border:1px solid #A4A4A4;*/
    /*height:50vh;*/
    /*margin-left:100px;*/
}

.page-wrapper2 {
    width: 100%;
    padding: 0 15px;
    min-height: 568px;
    background: #2B3E50;
    margin-top: 60px;
    margin-left: 0px;
    border-radius: 10px;
}

.content-menu {
    width: 120px;
    height: 100%;
    background: #2B3E50;
    /*background: linear-gradient(to bottom right, #3B4757, #606D7E, #7E8E9D, #92A2B1);*/
    transition: all 300ms;
    border-radius: 10px;
    margin-top: 70px;
    /*position: fixed;*/
}

.content-menu2 {
    margin-left: -120px;
}

.content-menu li {
    list-style: none;
    padding: 5px;
    text-align: center;
    color: white;
    transition: all 300ms;
    cursor: pointer;
}

    .content-menu li:hover {
        transform: translateY(5px);
        background: rgba(255,255,255,0.3);
        border-radius: 10px;
    }

    .content-menu li span {
        font-size: 35px;
    }

    .content-menu li h2 {
        font-size: 16px;
        font-weight: 100;
    }

    .content-menu li h4 {
        font-size: 14px;
        font-weight: 100;
        transform: translateY(14px) translateX(-110px);
        transition: all 300ms;
    }

.content-menu:hover .text1 {
    transform: translateX(0px);
    transition: all 100ms;
}

.content-menu:hover .text2 {
    transform: translateX(0px);
    transition: all 200ms;
}

.content-menu:hover .text3 {
    transform: translateX(0px);
    transition: all 300ms;
}

.content-menu:hover .text4 {
    transform: translateX(0px);
    transition: all 400ms;
}

.content-menu:hover .text5 {
    transform: translateX(0px);
    transition: all 500ms;
}

.content-menu:hover .text6 {
    transform: translateX(0px);
    transition: all 600ms;
}

.content-menu:hover .text7 {
    transform: translateX(0px);
    transition: all 700ms;
}

.content-menu:hover .text8 {
    transform: translateX(0px);
    transition: all 800ms;
}

.content-menu:hover .text9 {
    transform: translateX(0px);
    transition: all 900ms;
}

.actionlink {
    font-size: 30px;
    color: white;
}

.actionlinkstart {
    font-size: 40px;
    color: white;
}

    .actionlinkstart:hover {
        color: #6CE26C;
        text-decoration: none;
        font-weight: 800;
    }

.actionlinkclose {
    color: white;
    font-size: 40px;
}

    .actionlinkclose:hover {
        color: red;
        text-decoration: none;
        font-weight: 800;
    }

.actionlinkmenu {
    color: white;
    text-decoration: none;
}

    .actionlinkmenu:hover {
        color: #2B3E50;
        text-decoration: none;
    }

.tooltip {
    background-color: #2B3E50;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    border-radius: 5px;
    bottom: -25px;
    visibility: hidden;
    transition: opacity 1s, visibility 1s, bottom 1s;
    opacity: 0;
    font-size: 16px;
}

    .tooltip::before {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 45%;
        border-style: solid;
        border-width: 5px;
        border-color: transparent transparent #2B3E50 transparent;
    }

.txt:hover + .tooltip {
    visibility: visible;
    opacity: 1;
    bottom: -35px;
}

.tooltip2 {
    background-color: #2B3E50;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: -25px;
    visibility: hidden;
    transition: opacity 1s, visibility 1s, bottom 1s;
    opacity: 0;
    font-size: 12px;
    margin-left: 30px;
}

    .tooltip2::before {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 80%;
        border-style: solid;
        border-width: 5px;
        border-color: transparent transparent #2B3E50 transparent;
    }

.txt:hover + .tooltip2 {
    visibility: visible;
    opacity: 1;
    bottom: -35px;
}

.tooltipCerrar {
    background-color: #2B3E50;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: -15px;
    visibility: hidden;
    transition: opacity 1s, visibility 1s, bottom 1s;
    opacity: 0;
    font-size: 12px;
}

    .tooltipCerrar::before {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-style: solid;
        border-width: 5px;
        border-color: transparent transparent #2B3E50 transparent;
    }

.txt:hover + .tooltipCerrar {
    visibility: visible;
    opacity: 1;
    bottom: -20px;
}

.tooltipInicio {
    background-color: #2B3E50;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    border-radius: 5px;
    bottom: -25px;
    visibility: hidden;
    transition: opacity 1s, visibility 1s, bottom 1s;
    opacity: 0;
    font-size: 16px;
}

    .tooltipInicio::before {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 10%;
        border-style: solid;
        border-width: 5px;
        border-color: transparent transparent #2B3E50 transparent;
    }

.txt:hover + .tooltipInicio {
    visibility: visible;
    opacity: 1;
    bottom: -35px;
}

.fullscreen-modal .modal-dialog {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#smallTamanio {
    width: 30%;
}

#mdialTamanio {
    width: 45%;
}

#largeTamanio {
    width: 70%;
}

#xtralargeTamanio {
    width: 90%;
}


/*@media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
        width: 750px;
    }
}*/

@media screen and (max-width: 768px) {
    #unId70 {
        height: 69vh; /*Alto del 100% del Viewport*/
        max-height: 80vh; /*Alto máximo*/
    }

    #smallTamanio {
        width: 30%;
        left: 30%;
        top: 20%;
    }

    #mdialTamanio {
        width: 45%;
        left: 20%;
        top: 15%;
    }

    #largeTamanio {
        width: 70%;
        left: 18%;
        top: 10%;
    }


    #xtralargeTamanio {
        width: 90%;
        left: 5%;
        top: 5%;
        font-size: 10px !important;
    }

    .tooltip {
        padding-left: 500%;
        margin-top: -40px;
        font-size: 19px;
        position: unset !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}

@media (min-width: 1024px) {
    #unId70 {
        height: 60vh;
        max-height: 60vh;
    }

    #smallTamanio {
        width: 30%;
        top: 20%;
    }

    #mdialTamanio {
        width: 45%;
        top: 15%;
    }

    #largeTamanio {
        top: 10%;
    }


    #xtralargeTamanio {
        top: 5%;
        font-size: 10px !important;
    }
}


@media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
        width: 1170px;
    }
}

/*=================================================================================================================*/

.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        opacity: 0;
        background: none repeat scroll 0 0 transparent;
        cursor: inherit;
        display: block;
    }

.file-caption-name {
    display: inline-block;
    word-break: break-all;
    display: inline-block;
    height: auto;
}

.input-group-lg .file-caption-name {
    height: auto;
}

.file-caption-disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}

.file-actions, .file-other-error {
    text-align: left;
}

.file-icon-lg {
    font-size: 1.2em;
}

.file-icon-2x {
    font-size: 2.4em;
}

.file-icon-4x {
    font-size: 4.8em;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove-button, .file-input-ajax-new .fileinput-upload-button {
    display: none;
}

.file-actions {
    margin-top: 15px;
}

.highlighted {
    border: 2px dashed #999 !important;
    background-color: #f0f0f0;
}

.checkTamanio {
    width: 50px !important;
}

.checkTamanio2 {
    width: 150% !important;
}

@media only screen and (max-width: 1024px) {
    .checkTamanio {
        width: 200% !important;
    }
    .checkTamanio2 {
        width: 17px !important;
    }
}

@media only screen and (min-height: 768px) {
    .checkTamanio {
        width: 20px !important;
    }
}

@media only screen and (min-width: 1366px) {
    .checkTamanio {
        width: 50px !important;
    }
    .checkTamanio2 {
        width: 17px !important;
        text-align: center;
    }
}
