.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0 100px !important;
}

.active {
    background-color: #ffffff !important;
    color: #132f52 !important;
}

.btndangerCheckM {
    font-size: 0px;
    vertical-align: middle;
    margin-left: 0;
    margin-top: 0;
}

.badgeboxM {
    opacity: 0;
}

.badgeM {
    color: #000;
    background-color: transparent;
    margin-left: auto;
    display: table-cell !important;
    border: solid 1px #000;
    margin-top: -50px;
    font-size: 20px;
    border-radius: 10px;
}

.badgeboxM + .badgeM {
    text-indent: -999999px;
    width: 37px;
    float: right;
    padding-left: 10px;
}

.badgeboxM:checked + .badgeM {
    text-indent: 0;
    top: -24px;
    /* float: left; */
    left: 0px;
    font-size: 20px;
    /* width: 100%; */
    border: solid 1px #000;
}

.titulo {
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .titulo {
        font-size: 20px;
    }
}