div.dt-buttons {
    top: -4px;
    left: 2%;
    border-radius: 10px;
}

table {
    font-size: 12px !important;
}

th {
    background: #DF2530 !important;
    color: #fff !important;
    font-size: 13px !important;
    border-radius: 10px;
}

#contenedor_cargaR {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    position: fixed;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 10000;
    top: 0px;
    left: 0;
}

#cargaR {
    border: 10px solid #ccc;
    border-top-color: #DF2530;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: girar 1s linear infinite;
    -o-animation: girar 1s linear infinite;
    animation: girar 1s linear infinite;
}

/*#carga {
    top: 30.8%;
    left: 44.8%;
}

#carga2 {
    top: 39%;
    left: 46.5%;
}*/

#cargaR {
    top: 39%;
    left: 46.5%;
}

@@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

div.dt-button-collection div.dropdown-menu {
    display: block !important;
    z-index: 2002 !important;
    min-width: 100% !important;
    overflow-y: scroll !important;
    max-height: 450px !important;
    border-radius: 10px !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000 !important;
    text-decoration: none;
    background-color: #f5f5f5 !important,;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #f0f0f0;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #DF2530;
    text-align: inherit;
    white-space: nowrap;
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid thin !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.active {
    background-color: white;
    color: #2B3E50;
    text-decoration: none;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 10px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #DF2530;
    border-color: #DF2530;
}

.btn-pilares {
    color: #fff;
    /*background: linear-gradient(to bottom right, #3B4757, #606D7E, #7E8E9D, #92A2B1);*/
    background-color: #3B4757;
    border-color: #3B4757;
}

    .btn-pilares:focus,
    .btn-pilares.focus {
        color: #fff;
        background-color: #7E8E9D;
        border-color: #7E8E9D;
    }

    .btn-pilares:hover {
        color: #fff;
        background-color: #7E8E9D;
        border-color: #7E8E9D;
    }

    .btn-pilares:active,
    .btn-pilares.active,
    .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

        .btn-pilares:active:hover,
        .btn-pilares.active:hover,
        .open > .dropdown-toggle.btn-pilares:hover,
        .btn-pilares:active:focus,
        .btn-pilares.active:focus,
        .open > .dropdown-toggle.btn-pilares:focus,
        .btn-pilares:active.focus,
        .btn-pilares.active.focus,
        .open > .dropdown-toggle.btn-pilares.focus {
            color: #fff;
            background-color: #204d74;
            border-color: #122b40;
        }

    .btn-pilares:active,
    .btn-pilares.active,
    .open > .dropdown-toggle.btn-pilares {
        background-image: none;
    }

    .btn-pilares.disabled:hover,
    .btn-pilares[disabled]:hover,
    fieldset[disabled] .btn-pilares:hover,
    .btn-pilares.disabled:focus,
    .btn-pilares[disabled]:focus,
    fieldset[disabled] .btn-pilares:focus,
    .btn-pilares.disabled.focus,
    .btn-pilares[disabled].focus,
    fieldset[disabled] .btn-pilares.focus {
        background-color: #3B4757;
        border-color: #3B4757;
    }

    .btn-pilares .badge {
        color: #3B4757;
        background-color: #fff;
    }

/* Ensure that the demo table scrolls */
th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}


.custom-select {
    height: calc(2.25rem + 2px) !important;
    border-radius: 10px;
}

select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    width: inherit;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    outline: none;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9 !important;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: inherit;
    border-radius: 10px;
    color: inherit;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

table.dataTable.display tbody > tr > .selected {
    background-color: #B0BED9 !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    margin-right: 80px;
}
