
.progressBar {
    position: relative;
    width: 100%;
    height: 20px;
    background: #f3f1f1;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px #222;
    box-shadow: 0 1px 2px #222;
    z-index: 1000000000;
}

.title {
    position: absolute;
    width: 100px;
    height: 20px;
    padding-left: 10px;
    float: left;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    z-index: 10000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 2px 0 2px #333;
    box-shadow: 2px 0 2px #333;
    text-shadow: 1px 1px 1px #000;
}

.progress_value {
    position: relative;
    float: right;
    padding-right: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    z-index: 10000;
}

.progress {
    height: 20px;
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 2px 0 2px #555;
    box-shadow: 2px 0 2px #555;
}

.diarioColor {
    background-color: #373948;
}

.videoColor {
    background: #CE5432;
}

.tareasColor {
    background: #007ACC;
}

.tareasTotalColor {
    background: #007ACC;
}

.diario {
    background: #2B3E50;
}

.video {
    background: #2B3E50;
}

.tareas {
    background: #2B3E50;
}

.tareasTotal {
    background: #2B3E50;
}

.genialColor {
    background-color: #E0C74F;
}

.bienColor {
    background: #4AAA2B;
}

.regularColor {
    background: #910081;
}

.malColor {
    background: #E53E2D;
}

.genial {
    background: #2B3E50;
}

.bien {
    background: #2B3E50;
}

.regular {
    background: #2B3E50;
}

.mal {
    background: #2B3E50;
}

@media (max-width:768px) {
    .progressBar {
        position: relative;
        width: 100%;
        height: 10px;
        background: #fff;
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 2px #222;
        box-shadow: 0 1px 2px #222;
    }

    .title {
        position: absolute;
        width: 5%;
        height: 10px;
        padding-left: 10px;
        float: left;
        font-weight: bold;
        font-size: 5px;
        color: #fff;
        line-height: 1.2;
        z-index: 10000;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-box-shadow: 2px 0 2px #333;
        box-shadow: 2px 0 2px #333;
        text-shadow: 1px 1px 1px #000;
    }

    .progress_value {
        position: relative;
        float: right;
        padding-right: 10px;
        line-height: 2.5;
        font-weight: bold;
        color: #455a64;
        z-index: 10000;
    }

    /*.progress {
        height: 10px;
        position: absolute;
        border-radius: 10px;
        -webkit-box-shadow: 2px 0 2px #555;
        box-shadow: 2px 0 2px #555;
    }*/

    .diarioColor {
        background: #373948;
    }

    .videoColor {
        background: #CE5432;
    }

    .tareasColor {
        background: #007ACC;
    }

    .tareasTotalColor {
        background: #007ACC;
    }

    .diario {
        background: #2B3E50;
    }

    .video {
        background: #2B3E50;
    }

    .tareas {
        background: #2B3E50;
    }

    .tareasTotal {
        background: #2B3E50;
    }
}
