.GridViewScrollHeader TH, .GridViewScrollHeader TD {
    padding: 5px;
    font-weight: normal;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #DF2530;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 10px !important;
    height: 60px !important;
}

.GridViewScrollItem TD {
    padding: 0 5px;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    /*background-color: #DF2530;
    color: #fff;*/
    font-size: 12px;
    vertical-align: middle;
}

.GridViewScrollItem:nth-of-type(odd) {
    background-color: #f0f0f0 !important;
    color: #000 !important
}

.GridViewScrollItemFreeze {
    background-color: #f0f0f0 !important;
    color: #000 !important;
}

    .GridViewScrollItemFreeze:hover, .GridViewScrollItemFreeze:nth-of-type(odd):hover {
        background-color: #B3C9D8 !important;
        color: #000 !important;
        border-color: #fff !important;
    }

    .GridViewScrollItemFreeze TD {
        padding: 0 5px;
        white-space: nowrap;
        /*border-right: 1px solid #fff;*/
        border-bottom: 1px solid #fff;
        /*background-color: #DF2530 !important;
        color: #fff !important;*/
        border-radius: 10px;
        font-size: 12px;
        vertical-align: middle !important;
    }

    .GridViewScrollItemFreeze:nth-of-type(odd) {
        background-color: #f0f0f0 !important;
        color: #000 !important
    }

.GridViewScrollFooterFreeze TD {
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #DF2530;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
}

/*#gvMain_Header_Fixed {
    margin-bottom: 10px;
}*/

th > .gridViewScrollHelper {
    height: 18px !important;
}

td > .gridViewScrollHelper {
    padding-top: 5px;
}
