@model CampaniasLito.Models.TiendasArticulosView

<table>
    <tr>
        @foreach (var item2 in Model.CampañaArticuloTMPs)
        {
            <th>
                @item2.TotalCantidad
            </th>
        }
    </tr>
</table>
