@*@model List<CampaniasLito.Models.CampañaArticuloTMP>*@
@model CampaniasLito.Models.TiendasArticulosView

<div class="form-horizontal">
    <div class="form-group">
        <div style="padding-top: 8px; margin-bottom: -8px">
            @foreach (var item2 in Model.CampañaArticuloTMPs)
            {
                <input type="hidden" name="articuloId" value="@item2.CampañaArticuloTMPId" />
                if (item2.Habilitado == true)
                {
                    <input type="text" id="Cantidad" name="Cantidad" value="@item2.Cantidad" style="text-transform:uppercase; text-align: center; background-color: transparent !important; border: none" />
                }
                else
                {
                    <input type="hidden" name="Cantidad" value="@item2.Cantidad" />
                    <input type="text" id="Cantidad" name="Cantidad" value="@item2.Cantidad" disabled="disabled" style="text-transform:uppercase; text-align: center; background-color: transparent !important; border: none" />
                }
            }
        </div>
    </div>
</div>
