@model CampaniasLito.Models.TiendasArticulosView

    <div class="form-group" style="margin-bottom: 5px">
        @foreach (var item in Model.ArticuloKFCs)
        {
            <input type="text" disabled="disabled" value="@item.Descripcion" class="txt" style="background-color: transparent !important; border: none; border-right: solid 1px #fff; width: 150px !important; height: 60px !important; margin-top: -20px" />
            <div class="tooltip">@item.Descripcion</div>
        }
    </div>