@model CampaniasLito.Models.TiendasArticulosView

<table>
    <tr>
        @foreach (var item2 in Model.ArticuloKFCs)
        {
            <th>
                @item2.Descripcion
            </th>
        }
    </tr>
</table>