@model CampaniasLito.Models.TiendasArticulosView

<div>
    <div class="form-horizontal row responsivoUsuarioLabel">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.Campañas.FirstOrDefault().Nombre, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", disabled = "disabled", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Nombre" } })
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.Campañas.FirstOrDefault().Descripcion, new { htmlAttributes = new { @class = "form-control responsivoUsuarioText inputModal", disabled = "disabled", @required = "true", @oninvalid = "setCustomValidity('Este campo es obligatorio')", @oninput = "setCustomValidity('')", @style = "text-transform:uppercase", placeholder = "Descripción" } })
                </div>
            </div>
        </div>
    </div>
</div>