#bodyCompañia, #tableKFC, .nav > li > a, thead, tr, tr:hover, th, .navbar-toggle {
    background-color: #DF2530 !important;
    color: #fff !important;
}

table {
    background-color: transparent !important;
}

.navbar-toggle:hover, .nav > li > a:hover {
    background-color: #000 !important;
    color: #ffffff !important;
}

.sidebar ul li a.active {
    background-color: #ffffff !important;
    color: #DF2530 !important;
}

#panelH {
    background-color: #DF2530 !important;
    color: #fff !important;
}

table > tbody > tr > td:hover {
    background-color: transparent !important;
}

table > tbody > tr > td {
    border-radius: 10px !important
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #A5202A !important;
    color: #fff !important
}

.table-hover > tbody > tr:hover a:hover {
    background-color: #2B3E50 !important;
    color: #DF2530 !important;
    border-color: #fff !important;
}

dd, dt {
    color: #000 !important;
}

.jumbotron .h1, .jumbotron h1 {
    color: #DF2530 !important;
}

.btn-light {
    background-color: transparent !important;
    font-size: 150% !important;
    margin: -10px 0 !important;
    color: #fff !important;
}

.table-bordered:hover > tbody > tr:hover > td {
    border: 1px solid #000 !important;
    border-radius: 10px;
}

.botonF1, .botonF2 {
    background: #DF2530 !important;
}

a:focus, a:hover {
    color: #000 !important;
    text-decoration: none;
}

.panel-heading {
    background-color: #DF2530 !important;
    border-radius: 10px !important;
    padding: 0 !important;
}

#carga {
    border-top-color: #DF2530 !important;
}

a.inicio {
    background: url(../../Logos/KFC-logo.png) center no-repeat !important;
    background-size: 90px !important;
}

.menuNav {
    background-color: rgba(223, 37, 48, 0.8) !important;
}
