#bodyCompañia, #tableKFC, .nav > li > a, thead, tr:hover, th, table, .navbar-toggle, body {
    background-color: #067655 !important;
    color: #fff !important;
}

    .navbar-toggle:hover, .nav > li > a:hover {
        background-color: #000 !important;
        color: #067655 !important;
    }

.sidebar ul li a.active {
    background-color: #ffffff !important;
    color: #067655 !important;
}

#panelH {
    background-color: #067655 !important;
}

table > tbody > tr > td:hover {
    background-color: transparent !important;
}

table > tbody > tr > td {
    border-radius: 10px !important
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #000 !important;
    color: #067655 !important;
}
.table-hover > tbody > tr:hover {
    background-color: #6C6C6C !important;
    color: #067655 !important;
}

dd, dt {
    color: #000;
}

.jumbotron .h1, .jumbotron h1 {
    color: #067655 !important;
}

.btn-light {
    background-color: transparent !important;
    font-size: 150% !important;
    margin: -10px 0 !important;
    color: #fff !important;
}

.table-bordered:hover > tbody > tr:hover > td {
    border: 1px solid #000 !important;
    border-radius: 10px;
}

.botonF1, .botonF2 {
    background: #067655 !important;
}

a:focus, a:hover {
    color: #000 !important;
    text-decoration: none;
}

.panel-heading {
    background-color: #067655 !important;
    border-radius: 10px !important;
}