@model CampaniasLito.Models.ArticuloKFC

@{
    ViewBag.Title = "¿Eliminar este registro?";
    Layout = null;
}

@using (Html.BeginForm("Delete", "Materiales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel mt-3">
        <div class="panel-heading">
            <table class="headingModal">
                <tr style="background-color: #DF2530 !important">
                    <td class="col-xs-10">
                        <h2 class="responsivoUsuarioLabelFa" style="color: #fff">@ViewBag.Title</h2>
                    </td>
                    <td align="right" class="col-xs-2">
                        <div class="input-group">
                            <button type="button" class="botonF2 btn-danger" style="background-color: red" data-dismiss="modal" onclick="viewPageSwalOutM()">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                    </td>
                    <td align="center" class="col-xs-1">
                        <div class="input-group">
                            <button type="submit" class="botonF1Modal btn-success" style="background-color: green" onclick="viewPage2M()">
                                <i class="fas fa-check-circle"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <script src="~/Content/js/site.js"></script>

        <div class="panel-body">
            <div class="form-horizontal row responsivoUsuarioLabel">
                <div class="col-xs-12">

                    <div class="row">
                        <div class="mat-input col-sm-12 focus">
                            <div class="mat-input-outer col-sm-12 focus" style="margin: 20px 0 0 0 !important; width: 44vw">
                                @Html.TextBoxFor(model => model.Descripcion, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                                <label class="active">Material</label>
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}