@{
    ViewBag.Title = "Tiendas";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<h2>Tiendas</h2>

<div id="TiendasTable"></div>

@section scripts{

    <link href="~/Scripts/jtable/themes/metro/red/jtable.css" rel="stylesheet" />



    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <!--Adding jTable Plugin-->
    <script src="~/Scripts/jtable/jquery.jtable.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#TiendasTable').jtable({
                title: 'Tiendas',
                actions: {
                    listAction: '/Tiendas/TiendasList'
                },
                fields: {
                    ArticuloKFCId: {
                        key: true,
                        list: false
                    },
                    Descripcion: {
                        title: 'Descripción',
                        width: '15%'
                    },
                    CompañiaId: {
                        title: 'Compañia',
                        width: '15%'
                    },
                    ProveedorId: {
                        title: 'Proveedor',
                        width: '15%'
                    },
                    Familia: {
                        title: 'Familia',
                        width: '15%'
                    }
                }
            });
            $('#TiendasTable').jtable('reload');
        });
    </script>

}
