@model CampaniasLito.Models.Region

@{
    ViewBag.Title = "Eliminar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-heading">
            <table class="headingModal">
                <tr style="background-color: #DF2530 !important">
                    <td class="col-xs-6">
                        <h2 class="responsivoUsuarioLabelFa" style="color: #fff">Eliminar</h2>
                    </td>
                    <td class=" col-xs-12"></td>
                    <td align="right" class="col-xs-1">
                        <div class="input-group">
                            <button type="button" class="botonF2 btn-danger" data-dismiss="modal" onclick="viewPageSwalOut()">
                                <i class="fas fa-times-circle"></i>
                                @*SALIR*@
                            </button>
                        </div>
                    </td>
                    <td align="right" class="col-xs-1">
                        <div class="input-group">
                            <button type="submit" class="botonF1Modal btn-success" style="background-color: green" onclick="viewPage2()">
                                <i class="fas fa-check-circle"></i>
                                @*ACEPTAR*@
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <script src="~/Content/js/site.js"></script>

        <div class="panel-body">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="mat-input col-sm-12 focus">
                            <div class="mat-input-outer col-sm-12">
                                @Html.TextBoxFor(model => model.Nombre, new { htmlAttributes = new { }, @type = "text", @disabled = "disabled", @style = "text-transform:uppercase" })
                                <label class="active">Región</label>
                                <div class="border"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
