@using CampaniasLito.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/vendor/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/LoginCSS/Login.css" rel="stylesheet" />

    <title>Lito - @ViewBag.Title </title>

    <style>

        @@font-face {
            font-family: 'Hero';
            src: url('../../Content/Fonts/Hero.otf') format('opentype');
        }

    </style>
</head>
<body style="font-family: Hero">
    <div class="had-container">

        <div class="text-center center" style="padding-top: 40px">
            <img class="ocultar" src="~/Content/Logos/Logo_LIto_azul.png"
                 width="200">
        </div>
        <div class="row login">
            <h4 class="text-center center">Acceso <strong>CAMPAÑAS</strong></h4>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="mat-div"></div>

                <div class="row">
                    <div class="input-field col m12 s12">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "validate", @type = "text", @required = "true" })
                        <label class="mat-label" for="Email">Usuario</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col m12 s12">
                        <i class="material-icons prefix">lock</i>
                        @Html.TextBoxFor(m => m.Password, new { @class = "validate", @type = "password", @required = "true" })
                        <label class="mat-label" for="Password">Password</label>
                    </div>
                </div>

                <div class="row center text-center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar sesión</button>
                </div>
            }
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Litoprocess
        </div>
    </footer>

    <script src="~/Content/vendor/materialize/js/materialize.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

</body>
</html>
